.vs/CostTracker/CopilotIndices/17.14.878.3237/CodeChunks.db
.vs/CostTracker/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/CostTracker/FileContentIndex/ec3f6f09-1f37-4288-b649-aef1feb97a42.vsidx
.vs/CostTracker/v17/.wsuo
.vs/CostTracker/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
